@tailwind base;
@tailwind components;
@tailwind utilities;

/* for safari & Chrome */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* for explorer, edge, firefox */

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
